<div class="header">
      <div class="container">
        <ul class='nav'>
          <li><a href="#">WELCOME</a></li>
          <li>BLOG</li>
          <li>PORTFOLIO</li>
          <li>ABOUT</li>
          <li>CONTACT</li>
        </ul>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>My name is Karen and that is what I've learned on Ruby on Rails's Codecademy curse.</h1>
          <button class="btn-default" href="#">View my work</button>
          

        </div>
      </div>
    </div>

    
    
<!--
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<footer class="footer">
  <div class="container text-center">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
  </div>
</footer>
</div> -->

<div class="clearfix"></div>

    <div class="footer">
      <div class="container">
        <p>&copy; Karen Guerrero 2018</p>
      </div>
    </div>