<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prototipo de portafolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#">My sites</a></li>
      <li><a href="#">Library</a></li>
    </ul>
  </div>
</nav>
  <main role="main" class="container">
      
      <style>
         header {
          text-align: center;
      }
       body{
         background-color: #FF0000;
         width:100%; 
   			 height:100%;            
         text-justify: center;
    }
      </style>

<div class="container">
  <div class="jumbotron">
    <h1>Karen</h1>      
    <p>What I have learned of Ruby on Rails codecademy classes.</p>
    <img src="http://spitecnologias.com/wp-content/uploads/2016/11/desarrolloweb.png" class="img-responsive">   
    <p> </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">View my work&raquo;</a></p>
  </div>    
</div>

</body>
  <footer>
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<footer class="footer">
  <div class="container text-center">
    <a href="https://github.com/polarwinds5"><i class="fa fa-github"></i></a>
    <a href="https://cl.linkedin.com/"><i class="fa fa-linkedin"></i></a>
    <a href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-copyright"></i></a>
  </div>
    </footer>
</html>


